
.countup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  background-color: #CDCCC9;
  font-family: "Cascadia Code", monospace;
  box-sizing: border-box;
  position: relative;
  z-index: auto;
  color: #18191C;
  margin-top: 60px;
}


.countup-box {
  text-align: center;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}


.countup-number {
  font-size: 2rem;
  font-weight: bold;
  color: #18191C;
}

.countup-number span {
  color: #4BC5E0;
}

.countup-label {
  font-size: 1rem;
  color: #18191C;
  margin-top: 0.5rem;
  font-weight: 500;
}


.separator {
  font-size: 2rem;
  color: #18191C;
  margin: 0 1rem;
  font-weight: 300;
}


@media (min-width: 1024px) {
  .countup-container {
    padding: 1rem 1.5rem;
  }

  .countup-box {
    font-size: 0.5rem;
    margin: 0 1.5rem;
  }

  .countup-number {
    font-size: 1.2rem;
  }

  .countup-label {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
