/* Base Footer Styles */
.footer-wrapper { 
  background-color: #18191C; /* outer dark background */
  padding: 30px 0; 
}

.footer-container {
  background-color: #CDCCC9;
  max-width: 1100px; 
  margin: 0 auto; 
  padding: 20px 40px; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  border-radius: 5px; 
  font-family: "Cascadia Code", monospace;
}

.footer-logo img {
  height: 50px;
}

.footer-links { 
  list-style: none;
  display: flex; 
  gap: 25px; 
  align-items: center; 
  padding: 0; 
  margin: 0; 
}

.footer-links li a { 
  text-decoration: none;   
  color: #000000; 
  font-weight: 500; 
  transition: color 0.3s ease; 
}

.footer-links li a:hover { 
  color: #4BC5E0;
}

.footer-links .faq-button {
  background-color: #4BC5E0;
  color: #18191C; 
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer-links .faq-button:hover { 
  background-color:#18191C;
  color: #4BC5E0;
}

.footer-bottom {
  background-color: #18191C; 
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  color: #CDCCC9; 
  font-size: 0.9rem;
  margin: 0;
  font-family: "Cascadia Code", monospace;
}

/* Social Media Icons Styles */
.social-media {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #4BC5E0; /* Change color on hover */
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 20px 15px;
  }

  .footer-logo img {
    height: 40px;
    margin-bottom: 1rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-links li a {
    font-size: 0.9rem;
    display: block;
    padding: 5px 0;
  }

  .footer-links .faq-button {
    padding: 8px 20px;
    font-size: 0.9rem;
  }

  .social-media {
    gap: 10px;
  }

  .footer-bottom {
    padding: 15px 0;
  }

  .footer-bottom p {
    font-size: 0.8rem;
  }
}

/* Extra Small Mobile View */
@media (max-width: 480px) {
  .footer-container {
    padding: 15px 10px;
  }

  .footer-links {
    gap:0.5rem;
  }

  .footer-logo img {
    height: 30px;
  }

  .footer-links li a {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .footer-links .faq-button {
    padding: 6px 10px;
    font-size: 0.85rem;
  }

  .footer-bottom {
    padding: 10px 0;
  }

  .footer-bottom p {
    font-size: 0.75rem;
  }
}
