/* Main container for the logo row */
.logo-row-wrapper {
  overflow: hidden;
  width: 100%; 
  background-color: #18191C; 
}

/* The row that holds all the logos */
.logo-row {
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 5px;
  animation: scroll 20s linear infinite; 
}

/* Styling for each logo */
.logo-row img {
  max-width: 100%;
  height: 50px;

  object-fit: contain;
}

/* Class for individual logo */
.logon {
  max-width: 100%; 
  height: auto; 
  object-fit: contain; 
  margin-right: 30px; 
}

/* Larger screens: Layout logos horizontally with gap */
@media (min-width: 768px) {
  .logo-row {
    flex-direction: row; 
    justify-content: space-between; 
    gap: 40px;
  }
}


@media (min-width: 1024px) {
  .logo-row {
    gap: 60px;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}
@media (max-width: 480px) {
  .logo-row {
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 5px;
  animation: scroll 20s linear infinite; 
  gap: 30px;
}
.logo-row img {
  max-width: 100%;
  height: 45px;
  object-fit: contain;
}

}
